
<div class="container">

  <%= form_for(product) do |f| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <% product.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </div>

    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
    </div>

    <div class="field">
      <%= f.label :colour %>
      <%= f.text_field :colour %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div class="actions">
      <%= f.submit nil, class: 'btn-default' %>
    </div>
  <% end %>
</div>
