
<div class="col-xs-12 col-sm-6 col-md-4">

	<div class="bikeWrapper">

    	<div class="bikeProduct">
        	<div class="bikeImage">
            <% if product.image_url %>
                <p><%= image_tag(product.image_url, class: "img-responsive my-image" ) %></p>
            <% end %>
            </div>
            <div class="productAttributes">
              <p id="productName"><strong><%= product.name %></strong></p>
              <div class="productDescription">
                <p><%= product.description %> <a href=#>More... </a></p><br>
              </div>
              <p>Color: <%= product.colour %></p>
              <p class="pricetag"><strong>$ <%= product.price %></strong></p>
            </div>
        </div>

    </div>
</div><!-- /col -->