
<div class="col-xs-12 col-sm-6 col-md-4">

  <%= link_to product do %>

  	<div class="bikeWrapper">

      <% cache product do %>

      	<div class="bikeProduct">
          	<div class="bikeImage">
              <% if product.image_url %>
                  <p><%= image_tag(product.image_url, class: "img-responsive my-image" ) %></p>
              <% end %>
              </div>
              <div class="productAttributes">

              <% logger.debug "Product: #{product.name}"%>
                <p id="productName"><strong><%= product.name %></strong></p>
                <div class="productDescription">
                  <p><%= truncate(product.description, lenght: 50) %> </p><br>
                </div>
                <div class="rated ratingindex" id="average-rating" data-score="<%= product.average_rating %>"></div>
                <p class="pricetag"><strong>$ <%= product.price %></strong></p>
              </div>
          </div>

        <% end %>

      </div>

  <% end %>

</div><!-- /col -->