<div class="container">

	<p id="notice"><%= notice %></p>
	<%= link_to 'Back to Products', products_path %><br><br>

	<%= link_to '<< Previous', @product.prev, :class => "previousProduct" %>
	<%= link_to 'Next >>', @product.next, :class => "nextProduct"%>
	<div class= "clearing">


	<h1><%= @product.name %> (<%= link_to 'Edit', edit_product_path(@product) %>)</h1>

	<p>
	  <%= image_tag(@product.image_url, class: "img-responsive my-image showImage" ) %>
	</p>

	<div class= "showDescription">

		<p>
		  <%= @product.description %>
		</p>

		<p>
		  <strong>Colour:</strong>
		  <%= @product.colour %>
		</p>

		<p class= "pricetag">
		  <%= @product.price %> $
		</p>
	</div>
	<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
