<div class="container">

	<p id="notice"><%= notice %></p>
	<%= link_to 'Back to Products', products_path %><br><br>

<% Rails.cache.write('name-#{@product.id}', @product.name) %>
<% puts Rails.cache.read('name-#{@product.id}') %>

<% cache @product do %>

	<%= link_to '<< Previous', @product.prev, :class => "previousProduct" %>
	<%= link_to 'Next >>', @product.next, :class => "nextProduct"%>
	<div class= "clearing"></div>

	<h1><%= @product.name %> </h1>

	<div class="editProduct">
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><%= link_to 'Edit', edit_product_path(@product) %>
		<span class="glyphicon glyphicon-trash" aria-hidden="true">  </span><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>

	<div class="row" data-product-id="<%= @product.id %>">

		<div class="col-md-6 col-xs-12">

			<p>
			  <%= image_tag(@product.image_url, class: "img-responsive my-image showImage img-zoom", data_zoom_image: "large/#{@product.image_url}" ) %>
			</p>
		</div>

		<div class="col-md-6 col-xs-12">

			<div class= "showDescription">
		
				<p><%= @product.description %></p>

				<p>
				  <strong>Colour:</strong>
				  <%= @product.colour %>
				</p>

				<p class="averageRating">Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>

				<% logger.debug "Comments present: #{@product.comments.present?}"%>
				<% if @product.comments.present? %>

					<div class="row">
						<div class="col-md-6 col-xs-12 bestrating">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> "<%= @product.highest_rating_comment.body %>"
						</div>
						<div class="col-md-6 col-xs-12 bestrating">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> "<%= @product.lowest_rating_comment.body %>"
						</div>

					</div>

				<% end %>

				<p class= "pricetag"><span class="glyphicon glyphicon-euro" aria-hidden="true">
				  <%= @product.price %>
				</p>
				<%= form_tag "/payments/create" do %> 
					<%= render partial: "devise/shared/stripe_checkout_button" %>
					<%= hidden_field_tag(:product_id, @product.id)%>
				<% end %>

			</div>
		</div>


	</div>

<% end %>	

<h6> Views: <span><%= @product.views %> </span></h6>


	<h2>Comments</h2>

	<%= render 'new_comment', comment: @comment %>

	<% @comments = @comments.paginate(:page => params[:page])%>
	<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
	<%= render 'comments', comment: @comment %>

	
	<%= will_paginate @comments %>


</div>
